.notesContainer{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #001F8B;
    min-height: 10%;
    /* height: 10%; */
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 5px 20px;
}

.circleContainer{
    width: 6%;
    /* font-size: 1rem; */
    /* padding: 10px; */
}

.circle{
    background-color: aqua;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.circle h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 1.2em
}

.title{
    width:94%;
    padding:10px
}

.title h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 1.3rem;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.content{
    height: 60%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}


.content::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

/* Scrollbar Track */
.content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.63);
    border-radius: 10px; /* Rounded edges */
}

/* Scrollbar Thumb */
.content::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
    border: 2px solid #D9D9D9;
}

.messageBox{
    height: 30%;
    border: 20px solid #001F8B;
    background-color: #001F8B;
    border-bottom-left-radius: 10px;
}

.innerBox{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.innerBox textarea{
    width: 90%;
    outline: none;
    resize: none;
    font-size: 1.5rem;
    padding: 1rem;
    color: #9A9A9A;

}





.btnContainer{
    /* position: relative; */
    
    width:10%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    padding-bottom: 10px;
}

.btn{
    width: 100%;
    height: 30%;
    background-color: #fff;
}

.btn svg{
    object-fit: contain;
    width: 100%;
}


textarea::-webkit-scrollbar {
    width: 8px; 
    
}


textarea::-webkit-scrollbar-track {
    background: #D9D9D9;
    
}


textarea::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
    border: 2px solid #D9D9D9;
}



@media screen and (min-width:1920px) {
    

    .title h2{
        font-size: 2.4rem;
    }

    .circle h2{
        font-size: 2em;
    }

    .innerBox textarea{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:768px) {

    .header{
        justify-content: flex-start;
        gap: 5%;
    }

  
    .title{
        width: 50%;
    }

    .imgBtn{
        width: 2.5rem;
        /* height: 2rem; */
        background: transparent;
    }

    .imgBtn img{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .circleContainer{
        width: 10%;
    }

    .circle{
        width: 8vw;
        height: 8vw;
        font-size: 1rem;
    }

    .circle h2{
        font-size: 1em;
    }

    .innerBox textarea{
        
        font-size: 1.6em;
        
    
    }
    
}


@media screen and (max-width:426px) {


    .header{
        justify-content: space-around;
        gap: 0;
    }

    .circle{
        width: 13vw;
        height: 13vw;
    }

    .title h2{
        font-size: 1.4rem;
    }

    .innerBox textarea{
        
        font-size: 1.4em;
        
    
    }


}

@media screen and (max-width:376px) {
    /* .circle{
        width: 15vw;
        height: 15vw;
    } */

    .title h2{
        font-size: 1.2rem;
    }
    

    .innerBox textarea{
        
        font-size: 1em;
        
    
    }
}