
.itemContainer{
    width: 100%;
    /* min-height: 5rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
}


.highlight {
    background-color: rgba(47, 47, 47, 0.17);
    border-radius: 20px;
}

.circleContainer{
    width: 20%;
    padding: 10px;
}

.circle{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.circle h3{
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.01em;
    
}

.title{
    width: 80%;
    padding: 10px;
}

.title h2{
    font-size: 1.3rem;
    letter-spacing: 0.01em;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

@media  screen and (min-width:2560px) {
      .circle h3{
        font-size: 2.6em;
      }

      .title h2{
        font-size: 2.7rem;
      }
}

@media  screen and (min-width:1920px) and (max-width:2560px) {
    .circle h3{
        font-size: 1.7em;
      }

      .title h2{
        font-size: 2.4rem;
      }
}

@media screen and (max-width:1024px) {

    .circle{
        width:5vw;
        height: 5vw;
    }

    .circle h3{
        font-size: 1em;
    }
}

@media screen and (max-width:768px){

    .itemContainer{
        gap: 5%;
       
    }

    .circle{
        width: 8vw;
        height: 8vw;
        font-size: 1rem;
    }

    .circle h3{
        font-size: 1em;
    }

    .title h2{
        font-size: 1.6rem;
        /* font-size: 1rem; */
    }
}

@media screen and (max-width:426px) {
    .circle{
        width: 13vw;
        height: 13vw;
    }


}

@media screen and (max-width:376px) {
    .circle{
        width: 15vw;
        height: 15vw;
    }

}

